/* 
.card {
    margin: 1.5vw; 
    padding: 1.5vw; 
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    width: 25vw; 
    height: auto; 
    min-width: 300px; 
    max-width: 350px; 
}

.container {
    text-align: left; 
    padding: 0 1.5vw; 
    flex: 1.5;
    word-wrap: break-word; 
} 
*/

/* .card .container h4 {
    font-size: 1.2vw;
    margin: 0;
}

.card .container p {
    font-size: 1vw;
    margin: 0;
}

.imagini {
    width: 35%;
    height: auto;
    border-radius: 10px;
    margin-right: 1vw;
}

@media only screen and (max-width: 1024px) {
    .card {
        flex-direction: row;
        width: 70%;
    }

    .imagini {
        width: 40%;
    }

    .container {
        padding: 2vw;
    }

    .card .container h4 {
        font-size: 2.5vw;
    }

    .card .container p {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 768px) {
    .card {
        flex-direction: column;
        width: 80%;
    }

    .imagini {
        width: 80%;
        margin-bottom: 2vw;
    }

    .container {
        text-align: center;
        padding: 5vw 0;
    }

    .card .container h4 {
        font-size: 4vw;
    }

    .card .container p {
        font-size: 3.5vw;
    }
}

@media only screen and (max-width: 480px) {
    .card {
        flex-direction: column;
        width: 90%;
        padding: 5vw;
    }

    .imagini {
        width: 90%;
        margin-bottom: 5vw;
    }

    .container {
        text-align: center;
        padding: 5vw 0;
    }

    .card .container h4 {
        font-size: 6vw;
    }

    .card .container p {
        font-size: 4.5vw;
    }
} */
