.card {
    margin: 2vw;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row; /* Layout implicit: imaginea și textul unul lângă altul */
    align-items: center;
    width: 25vw; /* Ajustare la un 25% din lățimea viewport-ului */
    height: auto; /* Înălțimea automată pentru a se ajusta la conținut */
    min-width: 300px; /* Asigurarea unei lățimi minime pentru desktop */
    max-width: 400px; /* Limitează lățimea pentru a preveni carduri prea mari */
}

.container {
    text-align: left; /* Alinierea textului la stânga */
    padding: 0 2vw;
    flex: 1; /* Containerul de text ocupă spațiul disponibil */
    word-wrap: break-word; /* Permite ruperea cuvintelor pentru a preveni tăierea textului */
}

.card .container h4 {
    font-size: 1.5vw; /* Dimensiune relativă a fontului pentru titluri */
    margin: 0; /* Elimină marginile suplimentare */
}

.card .container p {
    font-size: 1.2vw; /* Dimensiune relativă a fontului pentru paragrafe */
    margin: 0; /* Elimină marginile suplimentare */
}

.imagini {
    width: 40%; /* Imaginea ocupă 40% din lățimea cardului */
    height: auto;
    border-radius: 10px;
    margin-right: 1vw; /* Spațiere între imagine și text */
}

@media only screen and (max-width: 768px) {
    .card {
        flex-direction: column; /* Afișează imaginea și textul pe verticală pe ecrane mai mici */
        width: 80%; /* Ajustează lățimea cardului pe ecrane mai mici */
    }

    .imagini {
        width: 80%; /* Imaginea ocupă 80% din lățimea cardului */
        margin-bottom: 2vw; /* Spațiu suplimentar sub imagine */
    }

    .container {
        text-align: center; /* Alinierea textului la centru */
        padding: 5vw 0; /* Ajustarea paddingului pentru un aspect mai bun pe ecrane mai mici */
    }

    .card .container h4 {
        font-size: 5vw; /* Font mai mare pentru ecrane mici */
    }

    .card .container p {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 480px) {
    .card {
        flex-direction: column; /* Layout vertical pentru ecrane foarte mici */
        width: 90%; /* Lățimea cardului pe ecrane foarte mici */
        padding: 5vw; /* Padding suplimentar */
    }

    .imagini {
        width: 90%; /* Imaginea ocupă toată lățimea cardului */
        margin-bottom: 5vw; /* Spațiu suplimentar sub imagine */
    }

    .container {
        text-align: center; /* Alinierea textului la centru */
    }

    .card .container h4 {
        font-size: 6vw; /* Font mai mare pentru ecrane foarte mici */
    }

    .card .container p {
        font-size: 4.5vw;
    }
}
