.servicesCOMP {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.services {
    display: flex;
    border-radius: 27px;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background-color: #000399;
    color: white;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 27px;
    border-color: #ffffff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0005c9;
}

.servicesexpanded {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #000399, #00005e);
    margin: 10vh;
    padding: 5vh;
    border-radius: 27px;
    box-shadow: 0 0 20px 0 rgba(174, 255, 0, 0.2);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.servicesexpanded.expanded {
    max-height: 100vh; /* Ajustează această valoare după necesitate */
    padding: 5vh; /* Asigură-te că padding-ul este reintrodus când este expandat */
    
}
    

.services h1 {
    font-size: 3em; /* Poți ajusta această valoare după preferințe */
}

.content {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.servicesexpanded.expanded .content {
    opacity: 1;
}
