
/* .servicesCOMP {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 70vh;
}

.services {
    display: flex;
    border-radius: 27px;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background-color: #000399;
    color: white;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 27px;
    border-color: #ffffff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0005c9;
}

.servicesexpanded {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #000399, #00005e);
    margin: 10vh;
    padding: 5vh;
    border-radius: 27px;
    box-shadow: 0 0 20px 0 rgba(174, 255, 0, 0.2);
    max-height: 18vh;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.servicesexpanded.expanded {
    max-height: 138vh; 
    padding: 5vh; 
    
}
    

.services h1 {
    font-size: 3em;
}

.content {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.servicesexpanded.expanded .content {
    opacity: 1;
} */


/* new css */

.services-container {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.btn-shine {
    text-align: center;
    padding: 12px 48px;
    color: #fff;
    background: linear-gradient(
    to right,
    #ccc,
    #6a59d1
  );
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 10px;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
}

@-moz-keyframes shine {
    0% { background-position: 0; }
    60% { background-position: 180px; }
    100% { background-position: 180px; }
}

@-webkit-keyframes shine {
    0% { background-position: 0; }
    60% { background-position: 180px; }
    100% { background-position: 180px; }
}

@-o-keyframes shine {
    0% { background-position: 0; }
    60% { background-position: 180px; }
    100% { background-position: 180px; }
}

@keyframes shine {
    0% { background-position: 0; }
    60% { background-position: 250px; }
    100% { background-position: 300px; }
}

.services .container .content {
    width: 100%;
}

.services-description h3 {
    font-size: 2em;
    margin-bottom: 50px;
}

.service-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #000;
    gap: 20px;
}

.service-card {
    background: #fff;
    border-bottom: 3px solid #6a59d1;
    padding: 50px;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    text-align: center; /* Center the content inside the card */
}

.service-card > .service-icon {
    color: #6a59d1;
    font-size: 5em; /* Increase the icon size */
    margin-bottom: 30px;
}

.service-card h3 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
}

.service-card .learn-more-btn {
    color: #777;
    cursor: pointer;
    transition: .3s ease;
}

.service-card .learn-more-btn i {
    transition: .3s ease;
}

.service-card:hover .learn-more-btn i {
    transform: translateX(10px);
}

.service-modal {
    z-index: 999999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}

.service-modal.active {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.service-modal-body {
    position: relative;
    background: #fff;
    max-width: 600px;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    transform: translateY(-50px);
    transition: .5s ease;
}

.service-modal.active .service-modal-body {
    transform: translateY(0);
}

.modal-close-btn {
    background-color: #6a59d1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: background-color 0.3s ease;
}

.modal-close-btn:hover {
    background-color: #4e3ba0;
}

.service-modal-body h3 {
    font-size: 2em;
}

.service-modal-body h4 {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
}

.service-modal-body ul li {
    margin-top: 15px;
}

.service-modal-body ul li i {
    color: #6a59d1;
}




  