@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  background-color: #021526;
  overflow-x: hidden; /* Previne scroll-ul orizontal */
}

.app {
  width: 100vw;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../idcrew/portofoliuidcrew/src/assets/3672298.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  /* filter: brightness(0.9); */
}

.main {
  width: 100vw;
  height: 100vh; /* Ensure full viewport coverage */
  position: relative;
  z-index: 1;
  margin-top: 0; /* Explicitly set margin-top to 0 */
}


.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1); /* Ajustează opacitatea aici */
  z-index: 0;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #fff, 1.8em -1.8em 0 0em #fff, 2.5em 0em 0 0em #fff, 1.75em 1.75em 0 0em #fff, 0em 2.5em 0 0em #fff, -1.8em 1.8em 0 0em #fff, -2.6em 0em 0 0em #fff, -1.8em -1.8em 0 0em #fff;
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em #fff, 1.8em -1.8em 0 0em #fff, 2.5em 0em 0 0em #fff, 1.75em 1.75em 0 0em #fff, 0em 2.5em 0 0em #fff, -1.8em 1.8em 0 0em #fff, -2.6em 0em 0 0em #fff, -1.8em -1.8em 0 0em #fff;
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em #fff, 1.8em -1.8em 0 0em #fff, 2.5em 0em 0 0em #fff, 1.75em 1.75em 0 0em #fff, 0em 2.5em 0 0em #fff, -1.8em 1.8em 0 0em #fff, -2.6em 0em 0 0em #fff, -1.8em -1.8em 0 0em #fff;
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em #fff, 1.8em -1.8em 0 0em #fff, 2.5em 0em 0 0em #fff, 1.75em 1.75em 0 0em #fff, 0em 2.5em 0 0em #fff, -1.8em 1.8em 0 0em #fff, -2.6em 0em 0 0em #fff, -1.8em -1.8em 0 0em #fff;
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em #fff, 1.8em -1.8em 0 0em #fff, 2.5em 0em 0 0em #fff, 1.75em 1.75em 0 0em #fff, 0em 2.5em 0 0em #fff, -1.8em 1.8em 0 0em #fff, -2.6em 0em 0 0em #fff, -1.8em -1.8em 0 0em #fff;
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em #fff, 1.8em -1.8em 0 0em #fff, 2.5em 0em 0 0em #fff, 1.75em 1.75em 0 0em #fff, 0em 2.5em 0 0em #fff, -1.8em 1.8em 0 0em #fff, -2.6em 0em 0 0em #fff, -1.8em -1.8em 0 0em #fff;
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em #fff, 1.8em -1.8em 0 0em #fff, 2.5em 0em 0 0em #fff, 1.75em 1.75em 0 0em #fff, 0em 2.5em 0 0em #fff, -1.8em 1.8em 0 0em #fff, -2.6em 0em 0 0em #fff, -1.8em -1.8em 0 0em #fff;
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em #fff, 1.8em -1.8em 0 0em #fff, 2.5em 0em 0 0em #fff, 1.75em 1.75em 0 0em #fff, 0em 2.5em 0 0em #fff, -1.8em 1.8em 0 0em #fff, -2.6em 0em 0 0em #fff, -1.8em -1.8em 0 0em #fff;
  }
}
