body {
    background: linear-gradient(
      270deg,
      #B8B9AA,
      #9EA697,
      #849384,
      #6A8070,
      #50605C,
      #364C4A,
      #1C2B38,
      #021526,
      #021526 
   );
    background-size: 800% 800%;
    animation: gradientAnimation 400s infinite ease-in-out;
    margin: 0;
    height: 100vh;
    overflow: hidden;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  
  .modellaptop {
      max-width: 80%;
      height: auto;
      transition: transform 0.1s ease-out;
  }
  
  .cont{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      background-color: white;
      border-radius: 27px;
      width: 50%;
    }
  
  .cont:hover .modellaptop{
      transform: scale(1.1);
  }
  .cont1{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }