.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    border-radius: 27px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 27px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form textarea {
    resize: vertical;
}

button {
    background-color: #000399;
    color: white;
    border: none;
    padding: 10px 50px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 27px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0005c9;
}
