.contact-servicesCOMP {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contact-services {
    display: flex;
    border-radius: 27px;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #000399;
    color: white;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 27px;
    border-color: #ffffff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0005c9;
}

.contact-services-expanded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #000399, #00005e);
    margin: 10vh;
    padding: 5vh;
    border-radius: 27px;
    box-shadow: 0 0 20px 0 rgba(174, 255, 0, 0.2);
    max-height: 59vh; /* Adjusted initial height */
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
}

.contact-services-expanded.expanded {
    max-height: 135vh;
    padding: 5vh;
}

.contact-services h1 {
    font-size: 3em;
}

.contact-content {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.contact-services-expanded.expanded .contact-content {
    opacity: 1;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form textarea {
    resize: vertical;
}
