@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

nav {
  width: 100%;
  margin: 0 auto;
  animation: slideDown 5s ease-in-out forwards;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-radius: 1000px;
  margin: 30px auto; 
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

h3.logo-text {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.logo img {
  width: 70px;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

a {
  text-decoration: none;
}

li.nav-item {
  list-style: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}

li.nav-item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #bf77f6;
  transition: width 0.3s ease;
}

li.nav-item:hover::after {
  width: 100%;
}

li.nav-item:hover {
  color: #bf77f6;
}

@media only screen and (max-width: 480px){

  .container {
    gap: 10px;
    margin: 20px auto; 
    margin-bottom: 10px;
    padding: 0;
  }

  .logo img{
    width: 50px;
  }

  h3.logo-text{
    font-size: 16px;
  }

  li.nav-item{
    font-size: 13px;
  }
}